In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Load data
path    = 'MIMIC-IV v2.2/icu/outputevents.csv'
data    = pd.read_csv(path)

path    = 'MIMIC-IV v2.2/icu/d_items.csv'
items   = pd.read_csv(path)

In [10]:
# Drop irrelevant columns
data = data[['subject_id', 'charttime', 'itemid', 'value']]

# Convert data into floats
data['charttime'] = pd.to_datetime(data['charttime'])
data['charttime'] = data['charttime'].apply(lambda x: x.timestamp())

In [11]:
df = data.sort_values(by=['subject_id', 'itemid', 'charttime'], ascending=[True, True, False])
df.drop_duplicates(subset=['subject_id', 'itemid'], keep='first', inplace=True)

df.reset_index(drop=True, inplace=True)
df = df.pivot_table(index='subject_id', columns='itemid', values='value', aggfunc='first')

In [12]:
# Rename df itemid to item labels
for i in df.columns:
    df.rename(columns={i: items.loc[items['itemid'] == i, 'label'].values[0]}, inplace=True)

# Add subject_id to df
df.insert(0, 'subject_id', df.index)
df.reset_index(drop=True, inplace=True)

In [13]:
df.head()

itemid,subject_id,R Ureteral Stent,L Ureteral Stent,Foley,Void,Condom Cath,Suprapubic,R Nephrostomy,L Nephrostomy,Straight Cath,...,PACU Urine,Cath Lab,Pre-Admission,GU Irrigant Volume In,GU Irrigant/Urine Volume Out,TF Residual,TF Residual Output,Drainage Bag,Chest Tube #3,Chest Tube #4
0,10000032,NaN,NaN,NaN,175.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000980,NaN,NaN,350.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001217,NaN,NaN,NaN,500.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001725,NaN,NaN,375.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001884,NaN,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [14]:
df.dtypes

itemid
subject_id              int64
R Ureteral Stent      float64
L Ureteral Stent      float64
Foley                 float64
Void                  float64
                       ...
TF Residual           float64
TF Residual Output    float64
Drainage Bag          float64
Chest Tube #3         float64
Chest Tube #4         float64
Length: 72, dtype: object

In [15]:
# Export CSV for later use
df.to_csv('processed_data/outputevents.csv', index=False)